# Create points table and author list

In [1]:
import sys
from pathlib import Path
import os
project_path = Path(os.getcwd()) / ".."

sys.path.append(str(project_path / "docs" / "mmteb"))

In [2]:
from create_points_table import load_data

## Point table

In [7]:
df = load_data()
df = df.groupby("GitHub").sum().astype(int)
# create a new column with the sum of the points
df["Total"] = df.sum(axis=1)
df = df.sort_values("Total", ascending=False)
# total as first column
df = df[["Total"] + [col for col in df.columns if col != "Total"]]

,Bug fixes,Review PR,New dataset,Dataset annotations,Paper writing,New task,Coordination,Running Models,Total
GitHub,,,,,,,,,
KennethEnevoldsen,85,300,68,35,0,0,11,0,499
isaac-chung,50,194,120,1,12,2,4,0,383
awinml,0,2,300,0,0,0,0,0,302
imenelydiaker,24,144,120,0,0,0,0,0,288
x-tabdeveloping,10,32,144,0,0,12,1,0,199
...,...,...,...,...,...,...,...,...,...
PhilipMay,0,2,0,0,0,0,0,0,2
NouamaneTazi,0,2,0,0,0,0,0,0,2
tomaarsen,0,2,0,0,0,0,0,0,2
Muenninghoff,0,2,0,0,0,0,0,0,2
MexicanLemonade,0,0,2,0,0,0,0,0,2